.box-mountains {
    background: url("../img/box.png") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
}

.box-mountains {
    animation: scrollquestionmark 1s steps(4) infinite;
}

.box-mountains.empty {
    animation: none;
    background-position: -64px 0;
}

.box-image {
    position: absolute;
    z-index: 4;
    animation: floatupslightlyanddisappear 3s;
    /*opacity: 0;*/
}

@keyframes scrollquestionmark {
    from { 
        background-position: 0 0;
    }
    to {
        background-position: -32px 0;
    }
    to {
        background-position: -46px 0;
    }
    to {
        background-position: -64px 0;
    }
}

@keyframes floatupslightlyanddisappear {
    from {
        
    }
    to {
        /*top: -100px;*/
        /*width: 200px;*/
        
    }
}