#stage {
    
}

.background-mountains {
    background: url('../img/background_sprite_sheet.png') repeat-x;
    height: 278px;
    animation: backgroundanimation 5s steps(60) infinite;
}

.ground-center-mountains {
    background: url('../img/ground_center.png') repeat-x;
    height: 15px;
    position: relative;
}

@keyframes backgroundanimation {
    100% {
        background-position: -62640px;
    }
}