.background-mountains {
    background: url('../img/mountains_bg.jpg') repeat-x bottom;
    width: 100%;
    /*height: 432px;*/
    height: 220px;
}

.ground-center-mountains {
    background: url('../img/ground_center_mountains.jpg') repeat-x;
    height: 27px;
}